---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <!-- <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  /> -->
  <HorizontalCard
    title="Sudoku Solver"
    img="/projects/sudoku-solver.webp"
    desc="The Sudoku Solver is an interactive web application designed to assist users in solving Sudoku puzzles with ease. It offers a user-friendly interface where you can input your puzzle directly or upload an image of it. The app provides features like erasing entries, resetting the grid, and solving the puzzle instantly. Built with a responsive design, it ensures compatibility across various devices. This tool is ideal for Sudoku enthusiasts seeking quick solutions or assistance with challenging puzzles."
    url="https://subinay108.github.io/SudokuSolver/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Sorting Algorithm Visualizer"
    img="/projects/sorting-algorithm-visualizer.webp"
    desc="Sorting Algorithm Visualizer is a web application that allows users to interactively explore and understand various sorting algorithms. Developed using HTML, CSS, and vanilla JavaScript, this project provides a visually intuitive way to witness how algorithms like Bubble Sort, Quick Sort, Merge Sort, and more, work in real-time."
    url="https://subinay108.github.io/Sorting-Algorithm-Visualizer/"
  />

  <!-- For giving space below -->
  <div class="h-[300px]"></div>


</BaseLayout>
